In [25]:
import numpy as np
import pandas as pd
import sklearn
import os
import itertools

In [3]:
source_file = "./data/combined_data.csv"
destination = "./data"

df = pd.read_csv(source_file)
df.head()

        seq  enrichment  class
0  TTAATTAA    0.499720      8
1  CGGATCCG    0.499673     18
2  AGATCTAC    0.499528      7
3  ATGACTCA    0.499517      4
4  ATGAGTCA    0.499443      4

In [8]:
df["seq"].value_counts()

seq
CGGAGATA    45
CGGAAATA    42
CGGAAAAA    41
ACTCCGGA    39
AATTTCCG    38
            ..
AGTTCTTA     1
GAGATTGC     1
AACTACAG     1
AGAAGGTA     1
CGGTACCA     1
Name: count, Length: 17252, dtype: int64

In [ ]:
#grouping by class so sequences from different genes are only mapped to one class

In [20]:
class_truth = df.groupby('seq')['class'].agg(lambda x: x.mode()[0]).to_dict()

## k-mer Nucleotide Frequency

In [36]:
def generate_kmers(k):
    base_pairs = list("ACGT")
    kmers = itertools.combinations_with_replacement(base_pairs, k)
    return kmers

# N = 3 max atm, paper does N=4
for k in range(1, 4):
    kmers = generate_kmers(k)
    
    for kmer in kmers:
        kmer = "".join(kmer)
        df[f"count_{kmer}"] = df["seq"].apply(lambda x : x.count(kmer))

## k-Spaced Nucleotide Pair Frequency

In [49]:
pairs = list(generate_kmers(2))

def count_kspaced(seq, pair, k):
    count = 0
    for i in range(len(seq) - 2 - k):
        if seq[i] == pair[0] and seq[i+k+1] == pair[1]:
            count += 1
    return count

#paper does k=0-4, but k=1-4 works without redudent feature
for k in range(1, 5):
    for p in pairs:
        df[f"count_{p[0] + k * '.' + p[1]}"] = df["seq"].apply(lambda x : count_kspaced(x, p, k))

## Nucleotide Physicochemical Property

## Pseudo k-Tuple Nucleotide Composition

In [ ]:
def pseKNC(seq):
    pass

## Electronâˆ’Ion Interaction Pseudopotentials of Trinucleotide.

### Saving to file